.container{
    display: grid;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: 45vh 45vh;
    grid-template-areas: 
    "top top"
    "bottomLeft bottomRight";
    border: 3px solid black;
    gap: 25px;
    justify-content: center;
    /* align-items: center; */
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 400px;
    height: 100px; */
}

#one{
    grid-area:top;
    background-color: rgb(239, 27, 27);
}

#two{
    grid-area: bottomLeft;
    background-color: rgb(64, 38, 197);
}

#three{
    grid-area: bottomRight;
    background-color: rgb(185, 76, 8);
}